includes:
    - vendor/larastan/larastan/extension.neon

parameters:
    paths:
        - app/
        - routes/

    # Уровень проверки типов (Level 6: строгий контроль параметров и возвращаемых типов)
    level: 6

    ignoreErrors:
        - '#uses generic trait Illuminate\\Database\\Eloquent\\Factories\\HasFactory#'
