includes:
    - vendor/larastan/larastan/extension.neon

parameters:
    paths:
        - app/
        - routes/

    # Уровень проверки типов (Level 8: строгий контроль nullable типов, параметров и замыканий)
    level: 8

    ignoreErrors:
        - '#uses generic trait Illuminate\\Database\\Eloquent\\Factories\\HasFactory#'
